@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Manrope', sans-serif;
	background-color: $dark-blue;
	font-size: 1.6rem;
}

.main {
	padding: 1em;
}

.app {
	position: relative;
	margin: 0 auto;
	padding: 2.5em 1.5em;
	width: min-content;
	text-align: center;
	background-color: $dark-grayish-blue;
	border-radius: 10px;

	&__title {
		color: $neon-green;
		font-size: 1.1rem;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&__text {
		margin: 1.1em 0;
		color: $light-cyan;
		font-size: 2.4rem;
		letter-spacing: -0.1px;

		span {
			font-size: inherit;
		}
	}

	&__img {
		margin-bottom: 1.5em;
	}

	&__dice {
		position: absolute;
		left: 50%;
		bottom: 0%;
		transform: translate(-50%, 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.2em;
		width: min-content;
		height: min-content;
		background-color: $neon-green;
		border-radius: 50%;
		transition: box-shadow 0.3s;
		cursor: pointer;

		&:hover {
			box-shadow: 0px 0px 30px $neon-green;
		}

		&:focus {
			outline: none;
			box-shadow: 0px 0px 30px $neon-green;
		}
	}
}

@media (min-width: 768px) {
	.app {
		padding: 3em;
		border-radius: 15px;

		&__title {
			font-size: 1.3rem;
		}

		&__text {
			margin: 0.8em 0 1.4em;
			font-size: 2.8rem;
		}

		&__img {
			content: url('../img/icons/pattern-divider-desktop.svg');
		}
	}
}

.shake {
	animation: shake 1s;
}

.rotate {
	animation: rotate 1s;
}

@keyframes shake {
	0% {
		left: 50%;
	}
	20% {
		left: 55%;
	}
	40% {
		left: 40%;
	}
	60% {
		left: 55%;
	}
	80% {
		left: 45%;
	}
	100% {
		left: 50%;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
